@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Akshar', sans-serif;
}

button {
    font-family: 'Akshar', sans-serif;
}

.game-container {
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, .25);
}

#phrase-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    background-color: #81B29A;
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
}

.word-box {
    display: flex;
    margin: 10px;
}

.letter-box {
    border: 1px solid black;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    font-size: 2em;
    font-weight: 700;
    background-color: #F4F1DE;
}

.letter-hidden {
    display: none;
}

.keyboard {
    display: block;
}

.top-row {
    display: flex;
    justify-content: center;
}

.middle-row {
    display: flex;
    justify-content: center;
}

.bottom-row {
    display: flex;
    justify-content: center;
}

.keyboard-key {
    width: 3em;
    height: 3em;
}

.keyboard-key-green {
    background-color: #81B29A;
}

.keyboard-key-gray {
    background-color: gray;
}

#phrase-guess-div {
    display: none;
}

.score-container {
    display: flex;
    justify-content: space-between;
}

.player-box {
    border: 1px solid gray;
    padding: 10px;
    font-weight: 100;
    font-size: 1em;
    margin: 10px;
    text-align: center;
    border-radius: 4px;
    display: flex;
}

#spin-result {
    height: 40px;
}

#phrase-guess-entry {
    width: 50%;
}

.player-round-score {
    height: 20px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 1.5em;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 4px;
}

.player-total-score {
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 1.5em;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 4px;
    margin-left: 10px;
}

.player-name-and-round-score {}

.wheel-container {}

.new-game {
    display: none;
}

#round {
    font-size: 2em;
    align-items: center;
    display: flex;
}