#letter-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.letter-box {
    border: 1px solid black;
    padding: 10px;
}

.letter-hidden {
    color: rgba(0,0,0,0);
}

.space-box {
    padding: 10px;
}